<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmwdm.trl.dao.RlDao">
	
	
	<select id="getList" resultType="com.jmwdm.trl.bean.Trl">
		SELECT
			batch_number AS batchNumber,
			serial_number AS serialNumber,
			primitive_sn AS primitiveSn,
			staff,
			`table`,
			DATE_FORMAT(
				create_time,
				'%Y-%m-%d %H:%i:%S'
			)AS createTime,
			`level`,
			t_1310 as t1310,
			t_1490 as t1490,
			t_1550 as t1550,

			r_1310 as r1310,
			r_1490 as r1490,
			r_1550 as r1550,

			c_1310 as c1310,
			c_1490 as c1490,
			c_1550 as c1550,		
			rl_c as rlC,
			rl_t as rlT,
			rl_r as rlR
			
		FROM
			t_rl
		WHERE
			1 = 1
		<if test="level != null and level != ''">
			and `level`=#{level}
		</if>
		<if test="batchNumber != null and batchNumber != ''">
			and batch_number=#{batchNumber}
		</if>
		<if test="serialNumber != null and serialNumber != ''">
			and serial_number=#{serialNumber}
		</if>
		<if test="staff != null and staff != ''">
			and staff=#{staff}
		</if>
	  	<if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
	  		and create_time between #{beginTime} and #{endTime}
	  	</if>		
	  	<if test="table != null and table != ''">
	  		and `table`=#{table}
	  	</if>			  	
		order by create_time desc
	</select>

</mapper>   