<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmwdm.trl.dao.RlDao">
	
	
	<select id="getList" resultType="com.jmwdm.trl.bean.Trl">
		SELECT
			batch_number AS batchNumber,
			serial_number AS serialNumber,
			primitive_sn AS primitiveSn,
			staff,
			`table`,
			DATE_FORMAT(
				create_time,
				'%Y-%m-%d %H:%i:%S'
			)AS createTime,
			`level`,
			t_1310 as T1310,
			t_1490 as T1490,
			t_1550 as T1550,

			r_1310 as R1310,
			r_1490 as R1490,
			r_1550 as R1550,

			c_1310 as C1310,
			c_1490 as C1490,
			c_1550 as C1550,		
			rl_c as rlC,
			rl_t as rlT,
			rl_r as rlR
			
		FROM
			t_rl
		WHERE
			1 = 1
		<if test="level != null and level != ''">
			and `level`=#{level}
		</if>
		<if test="batchNumber != null and batchNumber != ''">
			and batch_number=#{batchNumber}
		</if>
	</select>

</mapper>   