<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 回损测试参数sql -->
<mapper namespace="com.jmwdm.rlconfig.dao.RLConfigDao">
  
  <sql id="Base_Column_List">
    id, 
    name, 
    levelA, 
    levelB, 
    port_c as portC,
    port_p as portP,
    port_r as portR,
    c_1310 as c1310,
    c_1490 as c1490,
    c_1550 as c1550,        
    p_1310 as p1310,
    p_1490 as p1490,
    p_1550 as p1550,           
    r_1310 as r1310,
    r_1490 as r1490,
    r_1550 as r1550,
	DATE_FORMAT(create_time, '%Y-%m-%d %H:%i') createTime
  </sql>
  
  
  <select id="getBean" resultType="com.jmwdm.rlconfig.bean.RLConfig">
    select 
		<include refid="Base_Column_List" />
    from rl_config
    where id = #{id}
  </select>
  
  <select id="getList" resultType="com.jmwdm.rlconfig.bean.RLConfig">
  	select
		<include refid="Base_Column_List" />
  	from rl_config
  	where 1=1
  	<if test="name != null and name != ''">
  		and name=#{name}
  	</if>
	order by create_time desc
  </select>
   
  <insert id="insert">
  	insert into rl_config 
    (
		name,
		levelA,
		levelB,
		port_c,
		port_p,
		port_r,
		c_1310,
		c_1490,
		c_1550,
		p_1310,
		p_1490,
		p_1550,
		r_1310,
		r_1490,
		r_1550,			
		create_time
	)
	VALUES
	(
		#{name} ,
		#{levelA} ,
		#{levelB} ,
		#{portC} ,
		#{portP} ,
		#{portR} ,
		#{c1310} ,#{c1490} ,#{c1550},
		#{p1310} ,#{p1490} ,#{p1550},
		#{r1310} ,#{r1490} ,#{r1550},			
		now()
	)
  </insert>
  
  <delete id="delete">
  	delete from rl_config where id=#{id}
  </delete>
  
  <update id="update">
  	update rl_config set
	     name=#{name},
		levelA=#{levelA},
		levelB=#{levelB},
		port_c=#{portC},
		port_p=#{portP},
		port_r=#{portR},
		c_1310=#{c1310},
		c_1490=#{c1490},
		c_1550=#{c1550},
		p_1310=#{p1310},
		p_1490=#{p1490},
		p_1550=#{p1550},
		r_1310=#{r1310},
		r_1490=#{r1490},
		r_1550=#{r1550},			
		create_time
    where id = #{id}
  </update>
</mapper>